

<div class="cards-container">
  <div *ngFor="let personaje of personajes.results" 
  class="card" 
  style="width: 18rem;"
  >
    <h1 class="card-title">{{ personaje.name }}</h1>
    <img [src]="personaje.image" class="card-img-top" alt="{{ personaje.name }}">
    <div class="card-body">
      <p class="card-text">
        Id:{{personaje.id}}<br>
        Status: {{ personaje.status }}<br>
        Species: {{ personaje.species }}<br>
        Gender: {{ personaje.gender }}<br>
        visto por primera vez: <br> <strong>{{personaje.origin.name}}</strong> 
        visto por ultima vez: <br> <strong>{{personaje.location.name}}</strong> 
      </p>
  </div>
</div>