<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center">
      RickMorty<span class="text-danger">APP</span>
      <img src="../../../assets/images/rick_96214.png" alt="Rick" width="40" height="40" class="ms-2">
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>
